.background {
  position: relative;
  background-color: #1f1f1f;
  height: 100%;
}

.trackprogress {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 25%;
}

.trackinformation {
  position: relative;
  height: 75%;
  width: 33.3%;
  float: left;
}

.track {
  position: relative;
  height: 50%;
}

.track > div {
  position: absolute;
  bottom: 0;
  left: 6%;
  font-weight: 600;
  font-size: 0.9rem;
}

.artist {
  position: relative;
  height: 50%;
}

.artist > div {
  position: absolute;
  top: 0;
  left: 6%;
  color: #b3b3b3;
  font-size: 0.8rem;
}

.controls {
  width: 33.3%;
  height: calc(100% - 25px);
  float: left;
}

.control {
  position: relative;
  width: 33.3%;
  height: 100%;
  float: left;
  display: flex; 
  align-items: center;
}

.control-mid {
  justify-content: center;
}

.statecontrol {
  height: 40%; 
}

.statecontrol-left {
  position: absolute;
  right: 0;
  height: 35%; 
}

.statecontrol-right {
  position: absolute;
  left: 0;
  height: 35%; 
}

.flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.volume {
  width: 33.3%;
  height: calc(100% - 25px);
  float: left;
}

.volumeicon {
  position: relative;
  height: 100%;
  width: 40%;
  float: left;
  display: flex; 
  align-items: center;
}

.volumeicon > img {
  position: absolute;
  height: 30%;
  right: -10%;
}

.volumeslider {
  height: 100%;
  width: 60%;
  float: left;
  display: flex; 
  align-items: center;
  padding: 0 30px;
}