* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html, body, #root {
  background: #171717;
  font-family: Roboto, sans-serif;
  height: 100%;
  width: 100%;
  color: #fff;
}

.app {
  height: 100%;
  width: 100%;
}

.app > .content {
  height: 85%;
}

.app > .audio {
  height: 15%;
}

.ct-chart > .ct-chart-line > .ct-labels span {
  color: #fff;
}

.ct-chart > .ct-chart-line > .ct-grids .ct-grid {
  stroke: #555;
}