[Unit]
Description=Interface client
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
RuntimeMaxSec=12h
User=pi
WorkingDirectory=/home/pi/interface-client/scripts
ExecStart=/home/pi/interface-client/scripts/service.sh

[Install]
WantedBy=multi-user.target
